<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    <h1>Product Management</h1>

    <!-- <section class="row text-center placeholders">
        <button type="button" class="btn btn-primary">Add User</button>
    </section> -->
    <h2>Categories</h2>

    <div id="accordion" role="tablist">
        {{#each categories}}
        <div class="card">
            <div class="card-header" role="tab" id="{{_id}}">
                <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapse{{_id}}" aria-expanded="true" aria-controls="collapse{{_id}}">
                        {{name}}
                    </a>
                </h5>
            </div>
            <div id="collapse{{_id}}" class="collapse" role="tabpanel" aria-labelledby="{{_id}}" data-parent="#accordion">
                <div class="card-body">
                    <ul class="list-group">
                        {{#each subCategories}}
                        <li class="list-group-item">{{{name}}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}

    </div>

    <h3 class="mt-2">Add a new category</h3>
    <form id="categoryForm" class="mb-2">
        <div class="form-group">
            <label for="parentCategory">Parent Category</label>
            <select id="parentCategory" name="parentCategory" class="form-control">
                <option value="0">None</option>
                {{#each categories}}
                    <option value="{{_id}}">{{{name}}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input type="text" class="form-control" name="categoryName" id="categoryName">
        </div>
        <button type="submit" id="sumitCategory" class="btn btn-primary">Submit</button>
    </form>

    <h2>Product Table</h2>
    <div class="action-buttons">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">Add Product</button>
        <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductModalTitle">Add a Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- TODO -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-user-btn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>

</main>