<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Future Shop - An innovative E-commerce platform</title>
    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font-awesome -->
    <link href="/public/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Toastr -->
    <link rel="stylesheet" href="/public/css/toastr.min.css">

    <!-- Custom styles for this template -->
    <link href="/public/css/style.css" rel="stylesheet">

    <!-- Print CSS -->
    <link href="/public/css/style.print.css" rel="stylesheet" media="print">


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="/" class="navbar-brand">Future Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#shop-categories" aria-controls="shop-categories" aria-expanded="false" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div id="shop-categories" class="collapse navbar-collapse">
                <div class="logo_category mr-auto">
                    <div class="categories">
                        {{#each categories}}
                        <a class="pr-2 text-white" href="/product/category/{{_id}}">{{name}}</a>
                        {{/each}}
                    </div>
                </div>

                <div class="right_form d-flex flex-md-row flex-column justify-content-center align-items-md-center">
                    <form id="loginForm" class="form-inline my-2 my-lg-0 {{#if user._id}}d-none{{/if}}">
                        <input class="form-control mb-sm-0 mb-2 mr-sm-2" type="text" name="username" placeholder="Username">
                        <input class="form-control mb-sm-0 mb-2 mr-sm-2" type="password" name="password" placeholder="Password">
                        <button class="btn btn-outline-success my-2 my-sm-0" id="loginButton" type="submit">Login</button>
                        <button class="btn btn-outline-info ml-2 my-2 my-sm-0" id="registerModalButton" data-toggle="modal" data-target="#registrationModel">Register</button>
                    </form>
                    <a id="accountName" href="{{#if user._id}}/user/{{else}}#{{/if}}" class="text-white">{{#if user._id}}Hello, {{{user.profile.firstName}}}{{else}}{{/if}}</a>
                    <a id="logout" class="text-white ml-2 {{#unless user._id}}d-none{{/unless}}" href="/logout">Logout</a>
                    <a class="ml-1" href="/cart">
                        <i class="fa fa-shopping-cart text-white" style="font-size: 24px" aria-hidden="true"></i>
                        <span id="shoppingNumber" class="text-white">{{#if cart.length}}({{cart.length}}){{/if}}</span>
                    </a>
                </div>
            </div>

        </nav>


        </div>
        <!-- User registration -->
        <div class="modal fade" id="registrationModel" tabindex="-1" role="dialog" aria-labelledby="registrationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registrationModalLabel">Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="registrationForm">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="username" required pattern="^[a-zA-Z0-9]{6,14}$">
                                <div class="invalid-feedback">
                                    Username must be 6-14 letters or numbers.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,14}$">
                                <div class="invalid-feedback">
                                    Password must be meet following rules: 6-14 characters long; At least 1 lower case letter; At least 1 upper case letter; At least 1 number
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input class="form-control" type="text" name="firstName" id="firstName" required pattern="^[a-zA-Z]{1,}$">
                                <div class="invalid-feedback">
                                    You must provide your first name
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input class="form-control" type="text" name="lastName" id="lastName" required pattern="^[a-zA-Z]{1,}$">
                                <div class="invalid-feedback">
                                    You must provide your last name
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" type="email" name="email" id="email" required>
                                <div class="invalid-feedback">
                                    You must provide your email, and make sure the correct format
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobilePhone">Mobile Phone</label>
                                <input class="form-control" type="text" name="mobilePhone" id="mobilePhone" required pattern="^[0-9]{10}$">
                                <div class="invalid-feedback">
                                    You must provide your 10 digits phone number
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" id="registerButton" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </div>
        </div>

    </header>

    {{{ body }}}

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>&copy; Future Shop. All rights reserved.</p>
            <p>Need help?
                <a href="#">Contact Us</a>
                <a href="#">Get Help</a>
            </p>
        </div>
    </footer>

    <script src="/public/js/jquery-3.2.1.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/public/js/jquery.min.js"><\/script>')</script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
    <script src="/public/js/toastr.min.js"></script>
    <script src="/public/js/main.js"></script> {{{scripts}}}
</body>

</html>