<style>
    #orderSummaryForm * {
        display: block;
        width: 500px;
    }

    #orderSummaryForm {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
<main>
    <form id="orderSummaryForm" action="/cart/checkout" method="post">
        <h3>Recipient Info</h3>
        <div class="currentAddresses">
            {{#each recipients}}
                <input type="radio" name="recipient" value="{{_id}}" id="">{{firstName}}
                {{else}}
                You have no recipients
            {{/each}}
            
        </div>
        <input type="checkbox" name="useNewAddress" id="useNewAddress">Use a new Address?
        <div id="newAddressForm" class="d-none">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName">

            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName">

            <label for="addressLine1">Address Line 1</label>
            <input type="text" name="addressLine1" id="addressLine1">

            <label for="addressLine1">Address Line 2</label>
            <input type="text" name="addressLine2" id="addressLine2">

            <label for="city">City</label>
            <input type="text" name="city" id="city">

            <label for="state">State</label>
            <input type="text" name="state" id="state">

            <label for="country">Country</label>
            <input type="text" name="country" id="country">

            <label for="zipCode">Zip Code</label>
            <input type="text" name="zipCode" id="zipCode">

            <label for="phoneNumber">Phone Number</label>
            <input type="text" name="phoneNumber" id="phoneNumber">
        </div>

        <div>
            <h3>Credit Card Info</h3>
            <label for="cardNumber"></label>
            <input type="text" id="cardNumber">

            <label for="validDate"></label>
            <input type="date" id="validDate">

            <label for="CVV"></label>
            <input type="text" id="CVV">
        </div>
        

        <h3>Cart details</h3>
        <ul>
            {{#each cart}}
                <li>{{product.name}} ----- ${{product.price}} -- {{product.quantity}}</li>
            {{/each}}
            <p>${{totalPrice}}</p>
        </ul>

        <button id="submitOderButton">Checkout</button>

    </form>
</main>