<main role="main">
    <div class="container my-4 d-flex justify-content-center">
        <form action="/product/search" method="post" class="form-inline row my-2 my-lg-0 col-8">
            <input class="form-control col-8 mr-sm-2" name="searchTerm" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary col-2 my-2 my-sm-0" id="searchButton" type="submit">Search</button>
        </form>
    </div>
    <section class="carousel slide text-center" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="holder.js/100px350?theme=social&text=Future Shop">
                <!--<div class="carousel-caption d-none d-md-block">
                    <h1 class="jumbotron-heading">Future Shop</h1>
                    <p class="lead text-white">State of art technology made for you to enjoy every aspect of shopping.</p>
                </div> -->

            </div>
        </div>
    </section>

    <div class="shop text-muted">
        <div class="container">
            <div class="row">
                {{#each products}}
                <div class="card product_card">
                    {{#if featuredImage}}
                    <img src="{{featuredImage}}" alt="Card image cap"> 
                    {{else}}
                    <img data-src="holder.js/350x200?text=No Image" alt="Card image cap"> 
                    {{/if}}

                    <a href="/product/{{_id}}">{{name}}</a>
                    <div class="d-flex justify-content-between">
                        <span class="price">${{price}}</span>
                        <a href="#" data-id="{{_id}}" class="addToCart">Add to cart</a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

</main>