<div id="userTable" class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{sequence @index}}</td>
                <td><a class="checkDetails text-primary" href="/admin/user/{{_id}}">{{username}}</a></td>
                <td>{{email}}</td>
                <td>{{mobilePhone}}</td>
                <td>
                    <a href="/admin/user/{{_id}}" class="updateUserLink text-black"><i class="fa fa-pencil mr-2" aria-hidden="true"></i></a>
                    <a href="/admin/user/{{_id}}" class="removeUserLink text-black"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>